* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;

}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: -40px;
}

.menu {
  position: sticky;
  display: flex;
  justify-content: space-around;
  /* justify-items: center; */
  background: rgb(2, 0, 36);
  background: linear-gradient(to right, #fd297b 0%, #ff5864 50%, #ff655b 100%);
  bottom: 0;
  width: 100%;
  color: #fafafa;
  height: 8vh;
  /* border-radius: 30px 30px 30px 30px; */
  /* transform: translateY(-40px); */
  padding: 15px;
}


.header {
  position: sticky;
  /* background-color: orange; */
  background: rgb(2, 0, 36);
  background: linear-gradient(to right, #fd297b 0%, #ff5864 50%, #ff655b 100%);
  top: 0;
  width: 100%;
  color: #fafafa;
  height: 10vh;
  padding: 10px;
  z-index: 2;
}

.tambah {
  width: 7vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgb(2, 0, 36);
  background: linear-gradient(to right, #fd297b 0%, #ff5864 50%, #ff655b 100%);
  
  cursor: pointer;
  scale: 1.4;
  border-radius: 40px;
  margin-top: -20px;
}
.tambah:hover{
    transform: rotate(180deg);
    scale: 1.5;
    transition: 0.5s ease;
}
.nama h3{
  width: 30vw;
}

.card {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  margin-top: 50px;
  padding: 30px;
  border: 3px solid #efefef;
}
.headerCard {
  padding: 5px;
  height: 70px;
  margin-bottom: 10px;
  justify-items: center;
}
.imageCard {
  width: 100%;
  border-radius: 10px;
}
.imageCard img{
  width: 100%;
  height: 50vh;
  object-fit: cover;
  border-radius: 10px;
}

.headerCard {
  display: flex;
}

.profilCard {
  width: 60px;
  height: auto;
  /* background-color: red; */
  border-radius: 100%;
}
.profilCard img{
  width: 8vh;
  height: 8vh;
  object-fit: cover;
  border-radius: 100%;
}

.containerCard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 10px;
}
.namaOrang {
  padding-left: 20px;
  padding-top: 0px;
}

.titik3 {
  transform: rotate(90deg);
  cursor: pointer;
  width: 8vw;
}

.icon1:hover,
.icon3:hover {
  margin-top: -3vh;
  transition: 0.5s ease;
}
.icon1, .icon3{
  width: 7vh;
  height: 7vh;
  margin-top: -3vw;
  cursor: pointer;
}

.fullLove{
  position: absolute;
  transform: translateY(-40px);
  opacity: 0;
}

.fullLove:active{
  opacity: 100;
  scale: 1.1;
}

.love img{
  width: 10vw;
}

/* ================ POP UP =========== */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    /* background: #fff; */
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 100%;
    /* overflow: auto; */
  }

  .editt,.delete,.cancel1{
    width: 100%;
    height: 10% ;
    /* background-color: red; */
    text-align: center;
    color: white;
    border-radius: 10px;
    padding-top: 25px;
    margin: 20px 0;

  }
  .editt{
    background-color: green;
  }

  .delete{
    background-color: #fd297b;
  }
  .cancel{
    background-color: blue;
  }

  .caption{
    padding-top: 15px;
    font-size: 1em;
  }

  .trash{
    margin-right: 3vw;
    width: 5vh;
  }
  
  